.box-news__img{
    // background-image: url(https://picsum.photos/200/300?random=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 15.625rem;
}

.box-news__img--1{
    background-image: url(https://picsum.photos/200/300?random=1);

}

.box-news__img--2{
    background-image: url(https://picsum.photos/200/300?random=2);

}

.box-news__img--3{
    background-image: url(https://picsum.photos/200/300?random=3);

}

.box-news__img--4{
    background-image: url(https://picsum.photos/200/300?random=4);

}

.box-news__img--5{
    background-image: url(https://picsum.photos/200/300?random=5);

}

.box-news__img--6{
    background-image: url(https://picsum.photos/200/300?random=6);

}

.article__box{
    margin-top: 2rem;
}


.article__title{
    font-family: $montserrat;
    font-family: $montserrat-regular;
    font-size: 1.25rem;
}

.article__text{
    font-family: $montserrat;
    font-family: $montserrat-light;
    font-size: 0.875rem;
    padding-top: .5rem;
    text-align: justify;
}

.newsletter__box {
    //padding: 3rem 0;
    text-align: center;
    background-color: #a7a7a7;
    padding: 2rem 0;
    margin-top: 3rem;
}

.newsletter__box--title{
    padding-bottom: 1.3rem;
    font-family: $montserrat;
    font-family: $montserrat-bold;
}

.newsletter__box--text{
    padding-bottom: .5rem;
    font-family: $montserrat;
    font-family: $montserrat-regular;
}

.group button {
    background-color: orangered;
    font-family: $montserrat;
    font-family: $montserrat-regular;
    
}