.nav {
    display: flex;
    border-bottom: 2px solid #a7a7a7;
    justify-content: space-between;
    padding: 1rem 0;;
}

.nav__box-logo {
    text-transform: uppercase;
    font-size: 30px;
    font-family: $montserrat;
    font-weight: $montserrat-bold;
}

.nav__box-menu {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    display: inline-block;
    text-transform: uppercase;
    font-family: $montserrat;
    font-weight:  $montserrat-bold;
    font-size: 12px;
    padding-left: 10px;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover {
    border-bottom: 0.3rem solid #2BA1AF;
    padding-bottom: 0.5rem;
    color: #4D5656;
}

a:focus {
    border-bottom: 0.3rem solid #2BA1AF;
    padding-bottom: 0.5rem;
    color: #4D5656;
}





@media (max-width: 768px) {
    .ocultar {
        display: none;
    }
}

